body {
  margin: 0;
}

html {
  font-family: Montserrat;
  font-weight: 800;
  scroll-behavior: smooth;
}
p,
h3 {
  margin: 0;
}

.mint {
  color: #f7fff7;
}
.grey {
  color: #131b2a;
}

.top-header {
  height: 40px;
  border-bottom: 2px solid rgba(247, 255, 247, 0.7);
  background: rgba(247, 255, 247, 0.15);
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-top: -97px;
  padding: 13px 30px;
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 100;

  &_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 800px;
  }
  &_title {
    font-family: 'Six Caps';
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 5px;
    letter-spacing: 2px;
    text-decoration: none;

    & .yellow {
      color: #e2c044;
    }
    & .separator {
      margin-left: 15px;
    }
    & img {
      height: 24px;
    }
  }
  &_nav {
    & ul {
      display: flex;
      gap: 23px;
      list-style-type: none;
    }
  }
}
.nav-link {
  color: #f7fff7;
  text-decoration: none;
  font-size: 13px;
  font-weight: 800;
}
.nav-link:hover {
  color: #e2c044;
  text-decoration: solid underline #e2c044 2px;
  text-underline-offset: 25px;
}

.nav-link.active {
  color: #e2c044;
  text-decoration: solid underline #e2c044 2px;
  text-underline-offset: 25px;
}
.section-dark {
  background-color: #131b2a;
  width: 100%;
  min-height: 350px;
  padding: 150px 0;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  display: flex;
  justify-content: center;
}

.section-clear {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 350px;
  padding: 150px 0;

  position: relative;
  display: flex;
  justify-content: center;
}

.section-clear::after {
  content: '';
  background-color: rgba(247, 255, 247, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.banner {
  &_container {
    display: flex;
    flex-direction: column;
    margin: 70px 0 0 0;

    & img {
      border-radius: 180px 180px 0 0;
    }
    & h1 {
      font-family: 'Six Caps';
      font-size: 110px;
      color: #f7fff7;
      margin: 20px 0 0 0;
      font-weight: 500;
    }
  }
}

.title {
  font-family: 'Six Caps';
  font-size: 60px;
  font-weight: 500;
  letter-spacing: 5.5px;
  text-decoration: solid underline #e2c044 2px;
  text-underline-offset: 25px;
  margin: 0 0 100px 0;
}

.section-container {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;

  &_text-part {
    text-align: justify;
  }
  &_cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.abilities-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 120px;
  height: 100px;
  border-radius: 15px;
  padding: 16px 0;
  background: rgba(247, 255, 247, 0.4);
  box-shadow: 100px 125px 45px 0px rgba(35, 47, 67, 0),
    64px 80px 41px 0px rgba(35, 47, 67, 0.01),
    36px 45px 34px 0px rgba(35, 47, 67, 0.05),
    16px 20px 26px 0px rgba(35, 47, 67, 0.09),
    4px 5px 14px 0px rgba(35, 47, 67, 0.1);

  & img {
    height: 48px;
  }
  & h3 {
    color: #131b2a;
    font-weight: 800;
    font-size: 13px;
  }
}

.container-project-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 40px;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
  gap: 15px;
  width: 300px;
  height: 500px;
  border-radius: 25px;
  background: rgba(247, 255, 247, 0.4);
  box-sizing: border-box;
  padding: 21px 21px;
  box-shadow: 100px 125px 45px 0px rgba(35, 47, 67, 0),
    64px 80px 41px 0px rgba(35, 47, 67, 0.01),
    36px 45px 34px 0px rgba(35, 47, 67, 0.05),
    16px 20px 26px 0px rgba(35, 47, 67, 0.09),
    4px 5px 14px 0px rgba(35, 47, 67, 0.1);

  &_logo {
    height: 30px;
    object-fit: contain;
  }
  &_screenshot {
    border-radius: 25px;
  }
  & p {
    text-align: center;
    font-size: 15px;
  }
}

.card-container {
  display: flex;
  justify-content: space-evenly;

  &_tech {
    padding: 4px 6px;
    color: #f7fff7;
    background-color: #131b2a;
    border-radius: 5px;
    & p {
      font-size: 13px;
    }
  }
  &_info {
    display: flex;
    align-items: center;
    font-size: 15px;
    padding: 10px 12px;
    color: #131b2a;
    background-color: #e2c044;
    border-radius: 15px;
    & img {
      height: 30px;
    }
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  & input {
    border-radius: 10px;
    height: 20px;
    width: 600px;
    background: rgba(247, 255, 247, 0.4);
    color: #131b2a;
    font-weight: 800;
    font-size: 15px;
    padding: 10px 15px;
    font-family: Montserrat;
    border: none;
  }
  & textarea {
    border-radius: 10px;
    background: rgba(247, 255, 247, 0.4);
    resize: none;
    color: #131b2a;
    font-weight: 800;
    font-size: 15px;
    font-family: Montserrat;
    height: 190px;
    width: 600px;

    padding: 10px 15px;
  }
}
input::placeholder {
  color: #33373e;
  font-weight: 800;
  font-size: 15px;
}
textarea::placeholder {
  font-family: Montserrat;
  color: #33373e;
  font-weight: 800;
  font-size: 15px;
}

.input-infos {
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.submit-btn {
  & button {
    margin-top: 20px;
    width: 148px;
    height: 60px;
    background: #e2c044;
    border-radius: 10px;
    font-family: Montserrat;
    color: #131b2a;
    font-weight: 800;
    font-size: 20px;
    border: none;
    cursor: pointer;
  }
}

.banner {
  background-image: url('../header.png');
}
.about {
  background-image: url('../about_background.jpg');
}
.abilities {
  background-image: url('../abilities_background.webp');
}
.project {
  background-image: url('../project-background.webp');
}
.contact {
  background-image: url('../contact-background.webp');
}
