.banner {
  background-image: url('../header.webp');
}
.about {
  background-image: url('../about_background.webp');
}
.abilities {
  background-image: url('../abilities_background.webp');
}
.project {
  background-image: url('../project-background.webp');
}
.contact {
  background-image: url('../contact-background.webp');
}