.banner {
  background-image: url('../../images/header.webp');
}
.about {
  background-image: url('../../images/about_background.webp');
}
.abilities {
  background-image: url('../../images/abilities_background.webp');
}
.project {
  background-image: url('../../images/project-background.webp');
}
.contact {
  background-image: url('../../images/contact-background.webp');
}
