body {
  margin: 0;
}

html {
  font-family: Montserrat;
  font-weight: 800;
  scroll-behavior: smooth;
}

p,
h3 {
  margin: 0;
}

.banner {
  background-image: url("../header.png");
}

.about {
  background-image: url("../about_background.jpg");
}

.abilities {
  background-image: url("../abilities_background.webp");
}

.project {
  background-image: url("../project-background.webp");
}

.contact {
  background-image: url("../contact-background.webp");
}

.top-header {
  height: 40px;
  border-bottom: 2px solid rgba(247, 255, 247, 0.7);
  background: rgba(247, 255, 247, 0.15);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-top: -97px;
  padding: 13px 30px;
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 100;
}
@media screen and (orientation: portrait) {
  .top-header {
    height: auto;
    margin-top: -142px;
    padding: 10px;
  }
}
.top-header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1100px;
}
@media screen and (orientation: portrait) {
  .top-header_container {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
}
.top-header_title {
  font-family: "Six Caps";
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 5px;
  letter-spacing: 2px;
  text-decoration: none;
}
.top-header_title .yellow {
  color: #E2C044;
}
.top-header_title .separator {
  margin-left: 15px;
}
.top-header_title img {
  height: 24px;
}
.top-header_nav ul {
  display: flex;
  gap: 23px;
  list-style-type: none;
}
@media screen and (orientation: portrait) {
  .top-header_nav ul {
    gap: 15px;
    padding: 0;
  }
}

.nav-link {
  color: #f7fff7;
  text-decoration: none;
  font-size: 13px;
  font-weight: 800;
}

.nav-link:hover {
  color: #E2C044;
  -webkit-text-decoration: solid underline #E2C044 2px;
          text-decoration: solid underline #E2C044 2px;
  text-underline-offset: 25px;
}

.nav-link.active {
  color: #E2C044;
  -webkit-text-decoration: solid underline #E2C044 2px;
          text-decoration: solid underline #E2C044 2px;
  text-underline-offset: 25px;
}
@media screen and (orientation: portrait) {
  .nav-link.active {
    text-underline-offset: 28px;
  }
}

.section-dark {
  background-color: #131b2a;
  width: 100%;
  min-height: 350px;
  padding: 150px 0;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  display: flex;
  justify-content: center;
}
@media screen and (orientation: portrait) {
  .section-dark {
    background-attachment: scroll;
  }
}

.section-clear {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 350px;
  padding: 150px 0;
  position: relative;
  display: flex;
  justify-content: center;
}

.section-clear::after {
  content: "";
  background-color: rgba(247, 255, 247, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.title {
  font-family: "Six Caps";
  font-size: 60px;
  font-weight: 500;
  letter-spacing: 5.5px;
  text-decoration-line: underline;
  text-decoration-color: #E2C044;
  text-decoration-style: solid;
  text-decoration-thickness: 3px;
  text-underline-offset: 25px;
  margin: 0 0 100px 0;
}

.section-container {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1100px;
  margin: 0;
}
@media (max-width: 1024px) {
  .section-container {
    width: 540px;
    margin: 0 50px;
  }
}
@media screen and (orientation: portrait) {
  .section-container {
    width: 100%;
  }
}
.section-container_text {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.section-container_text-part {
  text-align: justify;
}
.section-container_cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
@media (max-width: 1024px) {
  .section-container_cards {
    justify-content: center;
  }
}

.mint {
  color: #f7fff7;
}

.grey {
  color: #131b2a;
}

.banner_container {
  display: flex;
  flex-direction: column;
  margin: 70px 0 0 0;
}
.banner_container img {
  border-radius: 180px 180px 0 0;
  width: 360px;
}
@media (max-width: 1024px) {
  .banner_container img {
    width: 300px;
  }
}
.banner_container h1 {
  font-family: "Six Caps";
  font-size: 110px;
  color: #f7fff7;
  margin: 20px 0 0 0;
  font-weight: 500;
}
@media (max-width: 1024px) {
  .banner_container h1 {
    font-size: 91px;
  }
}

.container-project-cards {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 60px;
}
@media (max-width: 1024px) {
  .container-project-cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (orientation: portrait) {
  .container-project-cards {
    grid-template-columns: 1fr;
    width: auto;
  }
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
  gap: 15px;
  width: 250px;
  height: 450px;
  border-radius: 25px;
  background: rgba(247, 255, 247, 0.4);
  box-sizing: border-box;
  padding: 21px 21px;
  box-shadow: 100px 125px 45px 0px rgba(35, 47, 67, 0), 64px 80px 41px 0px rgba(35, 47, 67, 0.01), 36px 45px 34px 0px rgba(35, 47, 67, 0.05), 16px 20px 26px 0px rgba(35, 47, 67, 0.09), 4px 5px 14px 0px rgba(35, 47, 67, 0.1);
}
.project-card_logo {
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}
.project-card_screenshot {
  border-radius: 25px;
}
.project-card p {
  text-align: center;
  font-size: 15px;
}

.card-container {
  display: flex;
  justify-content: space-evenly;
}
.card-container_tech {
  padding: 4px 6px;
  color: #f7fff7;
  background-color: #131b2a;
  border-radius: 5px;
}
.card-container_tech p {
  font-size: 11px;
}
.card-container_info {
  font-family: Montserrat;
  font-weight: 800;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 15px;
  padding: 10px 12px;
  color: #131b2a;
  background-color: #E2C044;
  border-radius: 15px;
  border: 0;
}
.card-container_info img {
  height: 30px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-container input {
  border-radius: 10px;
  height: 20px;
  width: 600px;
  background: rgba(247, 255, 247, 0.4);
  color: #131b2a;
  font-weight: 800;
  font-size: 15px;
  padding: 10px 15px;
  font-family: Montserrat;
  border: none;
}
@media (max-width: 1024px) {
  .form-container input {
    width: 100%;
  }
}
.form-container textarea {
  border-radius: 10px;
  background: rgba(247, 255, 247, 0.4);
  resize: none;
  color: #131b2a;
  font-weight: 800;
  font-size: 15px;
  font-family: Montserrat;
  height: 190px;
  width: 600px;
  padding: 10px 15px;
}
@media (max-width: 1024px) {
  .form-container textarea {
    width: 100%;
  }
}

input::-moz-placeholder {
  color: #33373e;
  font-weight: 800;
  font-size: 15px;
}

input::placeholder {
  color: #33373e;
  font-weight: 800;
  font-size: 15px;
}

textarea::-moz-placeholder {
  font-family: Montserrat;
  color: #33373e;
  font-weight: 800;
  font-size: 15px;
}

textarea::placeholder {
  font-family: Montserrat;
  color: #33373e;
  font-weight: 800;
  font-size: 15px;
}

.input-infos {
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
@media (max-width: 1024px) {
  .input-infos {
    width: 540px;
  }
}
@media screen and (orientation: portrait) {
  .input-infos {
    width: 100%;
  }
}

.submit-btn button {
  margin-top: 20px;
  width: 148px;
  height: 60px;
  background: #E2C044;
  border-radius: 10px;
  font-family: Montserrat;
  color: #131b2a;
  font-weight: 800;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.modal {
  border: 0;
  border-radius: 15px;
  width: 1000px;
}
.modal .modal-container {
  position: relative;
}
.modal .modal-container button {
  position: absolute;
}
@media (max-width: 1024px) {
  .modal {
    margin: 0 20px;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
  }
}

dialog::backdrop {
  background: rgba(19, 27, 42, 0.9);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

.modal-container button {
  border: none;
  background: none;
  color: #131b2a;
  font-size: 24px;
  right: 5px;
  cursor: pointer;
}
.modal-container img {
  width: 100px;
  margin-bottom: 20px;
}

.container_cards {
  display: flex;
  gap: 20px;
}
@media screen and (orientation: portrait) {
  .container_cards {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.abilities-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 120px;
  height: 100px;
  border-radius: 15px;
  padding: 16px 0;
  background: rgba(247, 255, 247, 0.4);
  box-shadow: 100px 125px 45px 0px rgba(35, 47, 67, 0), 64px 80px 41px 0px rgba(35, 47, 67, 0.01), 36px 45px 34px 0px rgba(35, 47, 67, 0.05), 16px 20px 26px 0px rgba(35, 47, 67, 0.09), 4px 5px 14px 0px rgba(35, 47, 67, 0.1);
}
.abilities-card img {
  height: 48px;
}
.abilities-card h3 {
  color: #131b2a;
  font-weight: 800;
  font-size: 13px;
}/*# sourceMappingURL=style.css.map */